---
const { title, techs, description, index } = Astro.props;
---
 
<label for={`image${index + 1}`}>
    <div class="portfolio__content">
        <div class="portfolio__header">
            <h3 class="portfolio__title">{title}</h3>
            <i class="uil-angle-right portfolio__chevron"></i>
        </div>
        <div class="portfolio__tags">
            <span class="portfolio__tag">{techs}</span>
        </div>
        <p class="portfolio__description">
            {description}
        </p>
    </div>
</label>
