---
// data import
import portfolioData from "../../data/portfolioData";

let index = 0;
---

<div class="portfolio__container container grid">
    <div class="portfolio__images">
        <!-- Loop to generate inputs -->
        {
            Object.entries(portfolioData).map(([key, value]: [string, any]) => (
                <input type="radio" name="image" id={'image' + key}>
            ))
        }

        {
            Object.entries(portfolioData).map(([key, value]: [string, any]) => (
                <div astro-key={key} class={"portfolio__image image_" + key}>
                    {
                        
                        Object.entries(value.images).map(([imageKey, imageValue]: [string, any]) => (
                            <img src={imageValue} alt="" class={'image' + index++}> 
                        ))
                    }   
                </div>
            ))
        }
    </div>
</div>
