---
const { images, index } = Astro.props;
---

<input
    type="radio"
    name="image"
    id={`image${index + 1}`}
    checked={true === (index + 1 === 1)}
/>

<div class={`image_${index + 1}`}>
    {
        images.map((image) => (
            console.log(image.src)
        ))
    }
    {
        images.map((image) => (
            <img src={image.src} alt={image.alt} />
        ))
    }
</div>

<style>
    input[type=radio] {
        display: none;
    }
    div {
        position: relative;
        max-width: 471px;
        margin-left: auto;
        margin-right: auto;
    }


    img {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    }

    img:first-child {
        width: auto;
    }

    img:nth-child(2) {
        position: absolute;
        width: 25%;
        bottom: 0;
        right: 1.1rem;
        z-index: 1;
    }

    img:nth-child(3) {
        position: absolute;
        width: 15%;
        bottom: 0;
        right: 0;
        z-index: 2;
    }

    .image_1,
    .image_2,
    .image_3,
    .image_4,
    .image_5 {
        display: none;
    }

    #image1:checked~.image_1,
    #image2:checked~.image_2,
    #image3:checked~.image_3,
    #image4:checked~.image_4,
    #image5:checked~.image_5 {
        display: block;
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For large devices */
    @media screen and (min-width: 768px) {
        [class^="image_"] {
            height: 18.3rem;
        }

        img:first-child {
            position: absolute;
            bottom: 0;
        }
        img:nth-child(2) {
            right: 3.1rem;
        }
    }
</style>
