/*==================== GOOGLE FONTS ====================*/
/* questrial-regular - latin */
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('/fonts/questrial-v13-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/questrial-v13-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*========== Icons ==========*/
@font-face {
    font-family: 'unicons';
    src: url('/fonts/icons/unicons.eot?jef2ss');
    src: url('/fonts/icons/unicons.eot?jef2ss#iefix') format('embedded-opentype'),
        url('/fonts/icons/unicons.ttf?jef2ss') format('truetype'),
        url('/fonts/icons/unicons.woff?jef2ss') format('woff'),
        url('/fonts/icons/unicons.svg?jef2ss#unicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="uil-"]:before,
[class*=" uil-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'unicons' !important;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -7%;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uil-angle-right:before {
    content: "\e91c";
}

.uil-apps:before {
    content: "\e900";
}

.uil-arrow-down:before {
    content: "\e901";
}

.uil-arrow-right:before {
    content: "\e902";
}

.uil-arrow-up:before {
    content: "\e903";
}

.uil-briefcase-alt:before {
    content: "\e904";
}

.uil-calendar-alt:before {
    content: "\e905";
}

.uil-css3-simple:before {
    content: "\e906";
}

.uil-download:before {
    content: "\e907";
}

.uil-envelope:before {
    content: "\e908";
}

.uil-estate:before {
    content: "\e909";
}

.uil-figma:before {
    content: "\e90a";
}

.uil-file-alt:before {
    content: "\e90b";
}

.uil-github-alt:before {
    content: "\e90c";
}

.uil-gitlab:before {
    content: "\e90d";
}

.uil-graduation-cap:before {
    content: "\e90e";
}

.uil-html5:before {
    content: "\e90f";
}

.uil-javascript:before {
    content: "\e910";
}

.uil-linkedin-alt:before {
    content: "\e911";
}

.uil-map-marker:before {
    content: "\e912";
}

.uil-message:before {
    content: "\e913";
}

.uil-moon:before {
    content: "\e914";
}

.uil-mouse:before {
    content: "\e915";
}

.uil-sass:before {
    content: "\e916";
}

.uil-scenery:before {
    content: "\e917";
}

.uil-sun:before {
    content: "\e918";
}

.uil-tailwind:before {
    content: "\e919";
}

.uil-times:before {
    content: "\e91a";
}

.uil-user:before {
    content: "\e91b";
}

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --text-hue: 221;

    /*========== HSL Colors ==========*/
    /*--text-color: hsl(var(--text-hue), 39%, 11%);*/
    /*--text-color-light: hsl(var(--text-hue), 0%, 31%);*/
    /*--body-color: #FFF;*/

    --bg-colored: hsl(225, 14%, 95%);
    --bg-light: hsl(60, 100%, 100%);
    --title-color: hsl(0, 0%, 5%);
    --text-color: hsl(0, 0%, 16%);
    --primary-color: hsl(25, 100%, 62%);
    --primary-color-lt: hsl(25, 66%, 82%);
    --secondary-color: hsl(340, 68%, 53%);


    /*========== Font and typography ==========*/
    --body-font: 'Questrial', sans-serif;

    --big-font-size: 2.5rem;
    --h1-font-size: 2.1875rem;
    --h2-font-size: 2.0625rem;
    --h3-font-size: 1.6875rem;
    --normal-font-size: 1.063rem;
    --small-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;

    /*========== Margins ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mar-0-25: .25rem;
    --mar-0-5: .5rem;
    --mar-0-75: .75rem;
    --mar-1: 1rem;
    --mar-1-5: 1.5rem;
    --mar-2: 2rem;
    --mar-2-5: 2.5rem;
    --mar-3: 3rem;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-scrolltop: 10;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem; /* 56px */
        --h1-font-size: 2.9375rem; /* 47px */
        --h2-font-size: 2.3125rem; /* 37px */
        --h3-font-size: 1.8125rem; /* 29px */
        --normal-font-size: 1.125rem; /* 18px */
        --small-font-size: 1rem; /* 16px */
        --smaller-font-size: .875rem; /* 14px */
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:is(a, button):focus-visible {
    /* Draw the focus when :focus-visible is supported */
    outline: 3px solid black;
    outline-offset: 4px;
}

@supports not selector(:focus-visible) {
    :is(a, button):focus {
        /* Fallback for browsers without :focus-visible support */
        outline: 3px solid black;
        outline-offset: 4px;
    }
}

div:has(>label>:is(input, textarea):focus) {
outline: 3px solid black;
    outline-offset: 4px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    touch-action: manipulation; /* for a fast reacting touch experience */
    -webkit-tap-highlight-color: transparent; /* To remove the semi-transparent highlight iOS applies to buttons */
    outline-offset: 5px; /* To give the focus state outline some breathing room from the edge of the element */
}

.bg-colored {
    background-color: var(--bg-colored);
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mar-1-5);
    margin-right: var(--mar-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*==================== ANIMATION ====================*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes textDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mar-1);
        margin-right: var(--mar-1);
    }
}

/* For large devices */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    header,
    main {
        padding: 0 1rem;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For extra-large devices */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1040px;
    }
}
