---
// component import
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
    pageTitle="A Propos"
    pageDescription="" 
    sectionTitle="A propos de moi"
    sectionSubtitle="Me, myself and I"
>

    <p>
        Développeuse junior avec 3 ans d'expérience dans le développement de sites et d'applications web en utilisant HTML5,
        CSS3, JavaScript et des frameworks CSS.
        J'identifie et corrige les problèmes durant les tests ou les retours des utilisateurs.
    </p>
</MainLayout>
