---
// component import
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
    pageTitle="Compétences"
    pageDescription="" 
    sectionTitle="Compétences"
    sectionSubtitle="Je peux me rendre utile"
>
    <div>
        
    </div>
</MainLayout>