---
// component import
import MainLayout from "../layouts/MainLayout.astro";

// data import
import skillsData from "../data/skillsData";

// styles import
import "../styles/styles.css";
---

<MainLayout 
    pageTitle="Compétences"
    pageDescription="" 
    sectionTitle="Compétences"
    sectionSubtitle="Je peux me rendre utile"
>
    <ul>
        {
            skillsData.map(skill => (
                <li>
                    <i class={'uil-' + skill.icon}></i>
                    <p>{skill.name}</p>   
                </li>
            ))
        }
    </ul>
</MainLayout>