---
// component import
import Link from "../Link.astro";

// data import
import socialNetworksData from "../../data/socialNetworksData"

const { 
    name = "Gaëlle",
    profession = "Développeuse front-end"
} = Astro.props;
---

<section>
    <div>
        <div>
            <div>
                <ul>
                    {
                        socialNetworksData.map(item => (
                            <li>
                                <Link
                                    href={item.href}
                                    text={item.title}
                                />    
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div>

            </div>

            <div>
                <h1>Bonjour, je suis {name}</h1>
                <h2>{profession}</h2>
            </div>
        </div>

        <div>

        </div>
    </div>
</section>