---
// component import
import Blob from "./Blob.astro";
import Link from "../Link.astro";

// data import
import socialNetworksData from "../../data/socialNetworksData";

const { 
    name = "Gaëlle",
    profession = "Développeuse front-end"
} = Astro.props;
---

<section>
    <div>
        <div>
            <div>
                <ul>
                    {
                        socialNetworksData.map(item => (
                            <li>
                                <Link
                                    href={item.href}
                                    leftIcon={item.icon}
                                    text=""
                                />
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div>
                <Blob />
            </div>

            <div>
                <h1>Bonjour, je suis {name}</h1>
                <h2>{profession}</h2>
                
                <Link
                    href="#contact"
                    rightIcon="message"
                    text="Me contacter"
                />
            </div>
        </div>

        <div>
            <Link
                href="#about"
                leftIcon="mouse"
                rightIcon="arrow-down"
                text="Descendre"
            />
            
        </div>
    </div>
</section>