---
const { 
    name = "Gaëlle",
    profession = "Développeuse front-end"
} = Astro.props;
---


<section>
    <div>
        <div>
            <div>

            </div>

            <div>

            </div>

            <div>
                <h1>Bonjour, je suis {name}</h1>
                <h2>{profession}</h2>
            </div>
        </div>

        <div>

        </div>
    </div>
</section>