---
// layout import
import SectionLayout from "../../layouts/SectionLayout.astro";

// component imports
import ContactForm from "./ContactForm.astro";
import ContactInfo from "./ContactInfo.astro";

const {
    sectionTitle="Un projet ?",
    sectionSubtitle="Parlons-en"
} = Astro.props;
---

<SectionLayout {sectionTitle} {sectionSubtitle}>
    <div class="container grid">
        <ContactInfo />
        <ContactForm />
    </div>
</SectionLayout>

<style>
    div {
        grid-template-columns: 1fr 1fr;
    }
</style>
