<form method="POST">
    <div>
        <div>
            <label for="">
                Votre nom :
                <input type="text" name="username" id="" required />
            </label>
        </div>
        <div>
            <label for="">
                Votre email :
                <input type="email" name="useremail" id="" required />
            </label>
        </div>
    </div>

    <div>
        <label for="">
            votre téléphone (optionnel) :
            <input type="tel" name="userphone" id="" />
        </label>
    </div>
    <div>
        <label for="">
            Votre message :
            <textarea name="usermessage" id="" cols="0" rows="7" required
            ></textarea>
        </label>
    </div>

    <div>
        <button> Envoyer</button>
    </div>
</form>
