---
const { darkColor, lightColor } = Astro.props;
---

<form method="POST" class="grid">
    <div class="contact__info">
        <label for="name">
            Votre nom (obligatoire) :
            <input type="text" name="username" id="name" autocomplete="name" required aria-required="true" />
        </label>
    </div>
    
    <div class="contact__inputs grid">
        <div class="contact__info">
            <label for="email">
                Votre email (obligatoire) :
                <input type="email" name="useremail" id="email" autocomplete="email" required aria-required="true" />
            </label>
        </div>
        
        <div class="contact__info">
            <label for="tel">
                votre téléphone (optionnel) :
                <input type="tel" name="userphone" id="tel" autocomplete="tel" />
            </label>
        </div>
    </div>

    <div class="contact__info">
        <label for="message">
            Votre message (obligatoire) :
            <textarea name="usermessage" id="message" cols="0" rows="7" required aria-required="true"
            ></textarea>
        </label>
    </div>

    <div>
        <button type="submit">
            Envoyer
            <i class="uil-message button__icon"></i>
        </button>
    </div>
</form>

<style define:vars={{ darkColor, lightColor }}>
    .contact__info {
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
        background-color: var(--lightColor);
    }
    label {
        font-size: var(--smaller-font-size);
    }

    input,
    textarea {
        width: 100%;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        color: var(--text-title);
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
        background-color: var(--lightColor);
    }

    textarea {
        resize: vertical;
    }

    button {
        display: inline-flex;
        align-items: center;
        background-color: var(--darkColor);
        color: #fff;
        padding: .96em;
        border-radius: .5rem;
    }

    button > i {
        font-size: 1.25rem;
        margin-left: var(--mar-0-5);
    }

    /* For extra-large devices */
    @media screen and (min-width: 1024px) {
        .contact__form {
            width: 460px;
        }
        .contact__inputs {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
