<div>
    <div class="contact__information">
        <i class="uil-user" aria-hidden="true"></i>
        <p class="contact__title">Nom</p>
        <p class="contact__subtitle">Gaëlle Morin</p>
    </div>

    <div class="contact__information">
        <i class="uil-envelope" aria-hidden="true"></i>
        <p class="contact__title">Email</p>
        <p class="contact__subtitle">gmorin.dev@gmail.com</p>
    </div>

    <div class="contact__information">
        <i class="uil-map-marker" aria-hidden="true"></i>
        <p class="contact__title">Ville</p>
        <p class="contact__subtitle">Bourges</p>
    </div>
</div>

<style>
    .contact__information {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .20rem .75rem;
        margin-bottom: var(--mar-2);
    }

    i {
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 2rem;
        color: var(--secondary-color);
    }

    .contact__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }
</style>
