<div>
    <div>
        <i class="uil-user"></i>
        <p>Nom</p>
        <p>Gaëlle Morin</p>
    </div>

    <div>
        <i class="uil-envelope"></i>
        <p>Email</p>
        <p>gmorin.dev@gmail.com</p>
    </div>

    <div>
        <i class="uil-map-marker"></i>
        <p>Ville</p>
        <p>Bourges</p>
    </div>
</div>
