---
// component import
import Link from "./Link.astro";
---

<footer>
    
        <div>
            <div>
                <h2>Gaëlle</h2>
                <span>Développeuse front-end</span>
            </div>

            <ul>
                // nav links here
            </ul>

            <ul>
                // social networks here
            </ul>

            <small>
                // icon sources here
            </small>
        </div>
    
</footer>

