---
const {
href,
classes,
color,
bgColor,
text,
leftIcon,
rightIcon,
iconClasses,
...rest
} = Astro.props;
---

<a
    href={href}
    class={classes}
    {...rest}
>
{
    leftIcon && (
        <i class={'uil-' + leftIcon + (iconClasses ? ' ' + iconClasses : '')}></i>
    )
}
{text}
{
    rightIcon && (
        <i class={'uil-' + rightIcon + (iconClasses ? ' ' + iconClasses : '')}></i>
    )
}
</a>


<style define:vars={{ color, bgColor }}>
    i {
        font-size: 1.28em;
    }

    .primary {
        color: var(--title-color);
    }

    .secondary {
        color: #fff;
    }

    .colored {
        color: var(--color);
    }

    .icon-color {
        color: var(--color);
    }

    .underline {
        text-decoration: underline;
    }

    .filled {
        background-color: var(--bgColor);
        padding: 1em;
        border-radius: .5rem;
    }

    .filled i {
        margin-left: var(--mar-0-5);
    }

    /*========== classes ==========*/
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        word-break: break-all;
    }

    .nav__link:hover {
        color: var(--text-color-light);
    }

    /*========== iconClasses ==========*/
    .nav__icon {
        font-size: 1.28em;
    }
    
    .home__scroll-button {
        font-size: var(--small-font-size);
    }

    .home__scroll-button > i:first-child {
        font-size: 1.88em;
    }
</style>
