---
const {
href,
classes,
text,
leftIcon,
rightIcon,
style,
...rest
} = Astro.props;
---

<a
    href={href}
    class:list={[
        classes,
        style
    ]}
    {...rest}
>
{
    leftIcon && (
        <i class={'uil-' + leftIcon}></i>
    )
}
{text}
{
    rightIcon && (
        <i class={'uil-' + rightIcon}></i>
    )
}
</a>


<style>
    .primary {
        color: var(--title-color);
    }

    .secondary {
        
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        word-break: break-all;
    }

    .nav__link:hover {
        color: var(--title-color-light);
    }
</style>
