---
const {
href,
classes,
text,
leftIcon,
rightIcon,
style,
...rest
} = Astro.props;
---

<a
    href={href}
    class:list={[
        classes,
        style
    ]}
    {...rest}
>
{
    leftIcon && (
        <i class={'uil-' + leftIcon}></i>
    )
}
{text}
{
    rightIcon && (
        <i class={'uil-' + rightIcon}></i>
    )
}
</a>
