---
const navItems = [
    {title: "Accueil", url: "#"},
    {title: "A propos", url: "#about"},
    {title: "Compétences", url: "#skills"},
    {title: "Expérience", url: "#qualification"},
    {title: "Portfolio", url: "#portfolio"},
    {title: "Contact", url: "#contact"},
]
---

<header>
    <nav>
        Hello
    </nav>
</header>
