---
// component import
import Link from "./Link.astro";

// data import
import navData from "../data/navData";
---

<nav class="nav container">
    <a href="#" class="nav__logo">Gaëlle Morin</a>

    <div class="nav__menu" id="js-nav-menu">
        <ul class="nav__list grid">
            {
                navData.map(item => (
                    <li>
                        <Link
                            href={item.url}
                            classes="nav__link primary"
                            leftIcon={item.icon}
                            iconClasses="nav__icon"
                            text={item.title}
                        />
                    </li>
                ))
            }
        </ul>
        <i class="uil-times nav__close" id="js-nav-close"></i>
    </div>

    <div class="nav__btns">
        <div class="change-theme">
            <i class="uil-moon"></i>
        </div>

        <div class="nav__toggle" id="js-nav-toggle">
            <i class="uil-apps"></i>
        </div>
    </div>
</nav>


<style>
    .nav {
        max-width: 968px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo,
    .nav__toggle,
    .change-theme {
        color: var(--text-color);
    }

    .nav__logo:hover,
    .nav__toggle:hover,
    .change-theme:hover {
        color: var(--text-color-light);
    }

    .nav__btns {
        display: flex;
        align-items: center;
    }

    .nav__toggle,
    .change-theme {
        font-size: 1.25rem;
        cursor: pointer;
    }

    .change-theme {
        margin-right: var(--mar-1);
    }

    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__close {
        cursor: pointer;
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
    }

    .nav__close:hover {
        color: var(--text-color-light);
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 350px) {
        .nav__menu {
            padding-left: .25rem;
            padding-right: .25rem;
        }
        .nav__list {
            column-gap: .5rem;
        }
    }

    @media screen and (max-width: 767px) {
        .nav__menu {
            position: fixed;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
            border-radius: 1.5rem 1.5rem 0 0;
            left: 0;
            bottom: -100%;
            width: 100%;
            padding: 2em 1.5em 4em;
            transition: .3s;
            background-color: var(--body-color);
        }

        /* Show menu on mobile phone */
        .show-menu {
            bottom: 0;
        }
    }

    /* For large devices */
    @media screen and (min-width: 768px) {
        .nav {
            height: calc(var(--header-height) + 1.5rem);
            column-gap: 1rem;
        }

        .nav__toggle,
        .nav__icon,
        .nav__close {
            display: none;
        }

        .nav__menu {
            margin-left: auto;
        }

        .nav__list {
            display: flex;
        }

        .change-theme {
            margin: 0;
        }
    }
</style>

<script src="../scripts/menu-show-hide.js"></script>
<script src="../scripts/nav-scroll-active.js"></script>
<script src="../scripts/mobile-remove-menu.js"></script>
