---
// component import
import Link from "./Link.astro";

// data import
import navData from "../data/navData";
---

<nav class="nav container">
    <a href="#">Gaëlle Morin</a>

    <div>
        <ul>
            {
                navData.map(item => (
                    <li>
                        <Link
                            href={item.url}
                            style="primary"
                            icon={{
                                name: item.icon,
                                side: "left"
                            }}
                            text={item.title}
                        />
                    </li>
                ))
            }
        </ul>
        <i class="uil-times"></i>
    </div>

    <div class="nav__btns">
        <!-- Theme change button -->
        <i class="uil-moon"></i>

        <div>
            <i class="uil-apps"></i>
        </div>
    </div>
</nav>

