---
// component import
import Link from "./Link.astro";

// data import
import navData from "../data/navData";
---

<nav class="nav container">
    <a href="#" class="nav__logo">Gaëlle Morin</a>

    <div class="nav__menu">
        <ul class="nav__list grid">
            {
                navData.map(item => (
                    <li>
                        <Link
                            href={item.url}
                            style="primary"
                            classes="nav__link"
                            leftIcon={item.icon}
                            iconClasses="nav__icon"
                            text={item.title}
                        />
                    </li>
                ))
            }
        </ul>
        <i class="uil-times"></i>
    </div>

    <div class="nav__btns">
        <div class="change-theme">
            <i class="uil-moon"></i>
        </div>

        <div class="nav__toggle">
            <i class="uil-apps"></i>
        </div>
    </div>
</nav>


<style>
    .nav {
        max-width: 968px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo,
    .nav__toggle,
    .change-theme {
        color: var(--title-color);
    }

    .nav__logo:hover,
    .nav__toggle:hover,
    .change-theme:hover {
        color: var(--title-color-light);
    }

    .nav__menu {
        position: fixed;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        left: 0;
        bottom: -100%;
        width: 100%;
        padding: 2em 1.5em 4em;
        transition: .3s;
    }

    .nav__btns {
        display: flex;
        align-items: center;
    }

    .nav__toggle,
    .change-theme {
        font-size: 1.25rem;
        cursor: pointer;
    }

    .change-theme {
        margin-right: var(--mar-1);
    }

    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__close {
        cursor: pointer;
        color: var(--title-color);
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
    }

    .nav__close:hover {
        color: var(--title-color-light);
    }

    /* Show menu */
    .show-menu {
        bottom: 0;
    }
</style>
