---
// layout import
import MainHead from "./MainHead.astro";

// component import
import Nav from "../components/Nav.astro";

const {
    pageTitle = "Gaëlle Morin - Développeuse web",
    pageDescription = "Développeuse web basée à Bourges",
} = Astro.props;
---

<html lang="en">
	<MainHead {pageTitle} {pageDescription} />
	<body>
        <header>
            <Nav />
        </header>
        
        <main>
            <slot></slot>
        </main>
	</body>
</html>
