---
// layout import
import MainHead from "./MainHead.astro";

// component import
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// styles import
import "../styles/global.css";

const {
    pageTitle = "Gaëlle Morin - Développeuse web",
    pageDescription = "Développeuse web basée à Bourges",
} = Astro.props;
---

<html lang="en">
	<MainHead {pageTitle} {pageDescription} />
	<body>
        <header id="header">
            <Nav />
        </header>
        
        <main>
            <slot></slot>
        </main>
        <Footer />
	</body>
</html>


<style>
    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: aqua;
    }
</style>
