---
// layout import
import MainHead from "./MainHead.astro";

// component import
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const {
    pageTitle = "Gaëlle Morin - Développeuse web",
    pageDescription = "Développeuse web basée à Bourges",
} = Astro.props;
---

<html lang="en">
	<MainHead {pageTitle} {pageDescription} />
	<body>
        <header id="header">
            <Nav />
        </header>
        
        <main>
            <slot></slot>
        </main>
        <Footer />
	</body>
</html>


<style>
    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
    }

    .scroll-header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        background-color: var(--body-color);
    }
</style>

<script src="../scripts/header-shadow.js"></script>
