---
const {
    sectionTitle,
    sectionSubtitle,
    darkColor
} = Astro.props;
---

<section class="center">
    <div>
        <h2>{sectionTitle}</h2>
        <span>{sectionSubtitle}</span>

        <slot>Default Text</slot>
    </div>
</section>

<style define:vars={{ darkColor }}>
:global(section) {
    min-height: 100vh;
    padding: 2rem 0 4rem;
}

:global(.center) {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2,
span {
    text-align: center;
    line-height: 1.2em;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--darkColor);
}

span {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mar-3);
}
</style>
